.apt_generated/
.gradle/
.metadata/
.settings/
bin/
build/
target/
.classpath
.project
.factorypath
.idea
out
.sdkmanrc

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
